/* NOTE: Seperate this out into different files for the different view pages */

body, html {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.halfvert {
  height: 50vh;
}

.darkcolor, .darkcolor a {
  background-color: #191919;
  color: #ECECEC;
}

.lightcolor, .lightcolor a {
  background-color: #ECECEC;
  color: #191919;
}

p, h4, h1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(9vw + 18px);
}

.fullvert {
  height: 100vh;
}

.bott {
  bottom: 0;
  right: 0;
  font-size: 2vh;
  position: absolute;
  margin: 1vw;
}

.login input, a {
  text-align: center;
  background-color: inherit;
  color: inherit;
  border: 0;
}

.login input {
  font-size: 5vw;
}

.login a {
  font-size: calc(3vh + 1vw);
}
