.lightcolor {
  background-color: #8C3330 !important;
  color: #FAF5F0 !important;
}

body {
  background-color: #8C3330 !important;
}

.darkcolor {
  color: #8C3330 !important;
  background-color: #FAF5F0 !important;
}
